$Member-card-bg: #fcead2;
$Deco: #c2d886;
$Casablanca: #faae58;
$Tuscany: #cd572f;
$TuscanyDark: #c9522c;
$Robroy: #edc86c;
$BurntSienna: #ee7758;
$SeaPink: #eb8a94;
$LondonHue: #beaac0;
$Emerald: #52d18e;
$Dandelion: #fddc60;
$Pesto: #7d6736;
$White:  #ffffff;

.member-card-background {
  background-color: $Member-card-bg;
}
.deco-background {
  background-color: $Deco;
}
.casablanca-background {
  background-color: $Casablanca;
}
.tuscany-background {
  background-color: $Tuscany;
}
.tuscanyDark-background {
  background-color: $TuscanyDark;
}
.robroy-background {
  background-color: $Robroy;
}
.burntsienna-background {
  background-color: $BurntSienna;
}
.seapink-background {
  background-color: $SeaPink;
}
.londonhue-background {
  background-color: $LondonHue;
}
.emerald-background {
  background-color: $Emerald;
}
.dandelion-background {
  background-color: $Dandelion;
}
.pesto-background {
  background-color: $Pesto;
}
