@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

// Fonts
.font-bangers {
  font-family: "Bangers", cursive;
}
.font-comic {
  font-family: "Comic Neue", cursive;
}

// Letter Spacing
.letter-spacing-2 {
  letter-spacing: 2px;
}

// Font Sizes
.font-size-15 {
  font-size: 15.5px;
}
.font-size-14 {
  font-size: 14px;
}
